<div><a href='/logout'>Logout</a></div>
<div><a href="/account_menu/gmap">Google Maps</a></div>
<div><a href="/account_menu/chats">Neighbourhood Chat</a></div>
<div><a href="/account_menu/business">Google Business<a></div>
<div><a href="account_menu/gsearch">Google Search<a></div>

logout_path