.logout {
    font-family: Verdana;
    outline: none;
    outline-width: 0;
    height: 40px;
    width: 160px;
    border-radius: 10px;
    border-style: offset;
    color: white;
    border: 3px;
    background: rgb(255, 174, 0);
    float: left;
    margin-left: 88%;
    margin-top: -115px;
}

.google-border {
    margin-left: 20%;
    margin-bottom: 30px;
}

.gservice {
    font-family: cursive;
    font-size: 25px;
    display: inline-block;
    margin-top: 5px;
    padding: 5px;
}