<%= form_tag new_gsearch_path do %>
    <label>Google Search: </label><br>
    <%= text_field_tag :'gsearch[search]' %><br>
   
    <%= submit_tag "Search" %>
<% end %>

<div><a href='/logout'>Logout</a></div>

<div><a href="/gmap">Google Maps</a></div>